.header {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: unset;

  /* @mixin hover { */
  &:hover {
    background-color: light-dark(
      var(--mantine-primary-color-light),
      var(--mantine-primary-color-light)
    );
  }
}

.subLink {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  text-decoration: none;
  color: unset;
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-7)
  );

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-dark-8)
    );
  }

  &[data-active] {
    outline-offset: 4px;
    outline: 2px solid var(--mantine-primary-color-filled);
  }
}

.dropdownFooter {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
  margin: calc(var(--mantine-spacing-md) * -1);
  margin-top: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-md);
  border-top: 1px solid
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}
