:root {
    --border-radius-small: 8px;
    --border-radius-default: 16px;
    --border-radius-big: 24px;
    --border-radius-circular: 9999px;

    --size-small: 48px;
    --size-default: 56px;
    --size-big: 64px;
}